<h1>My wonderful list of links</h1>

<ul>
<% @links.each do |link| %>
    <li><a href="<%= link.body %>"><%= link.title %></a> par <%= link.author %></li>
<% end %>
</ul>

<%= form_tag( "/main/index/" , method: "post") do %>
    Titre: <%= text_field_tag (:title) %>
    Lien: <%= text_field_tag (:body) %>
    Auteur: <%= text_field_tag (:author) %>
    <input type="submit" value="Ajouter un lien">
<% end %>