<h2>Welcome </h2>

<% if user_signed_in? %>

  <li><%= current_user.address %></li>

  <%
    client = OpenStreetMap::Client.new
    s = client.search(q: current_user.address, format: 'json', addressdetails: '1', accept_language: 'fr')[0]
  %>

  <!--  DEBUG-->
  <!--  <pre><%= s %></pre>-->

  <div id="mapid" style="width: 600px; height: 400px;"></div>
  <script>
      var mymap = L.map('mapid').setView([<%= s['lat']  %>, <%= s['lon']  %>], 13);

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
          maxZoom: 18,
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
              '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
              'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          id: 'mapbox/streets-v11',
          tileSize: 512,
          zoomOffset: -1
      }).addTo(mymap);

      var marker = L.marker([<%= s['lat']  %>, <%= s['lon']  %>]).addTo(mymap);
      marker.bindPopup("<%=s['address']['road'] %>, <%=s['address']['postcode'] %> <%=s['address']['village'] == nil ?  (s['address']['town'] == nil ? s['address']['city'] : s['address']['town']) : s['address']['village'] %>").openPopup();
  </script>
<% end %>